.notification{
    width: 80%;
    height: 50px;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
}

.notification button{
    border: 1px solid var(--acc-color);
    color: var(--acc-color);
    width: 60px;
    height: 30px;
    background-color: var(--primary-color);
}

.notification button:hover{
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    scale: 1.1;
}
