/* Comment form */

.comment-form{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    gap: 5px;
}

.comment-form label{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-form textarea{
    width: 90%;
    height: 200px;
    outline: none;
    background: var(--acc-color);
    color: var(--background-color);
    font: inherit;
    border-radius: 6px;
}

.comment-form button{
    width: 100px;
    height: 50px;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--acc-color);
    border-radius: 6px;
}

/* Comment */

.box{
    position: relative;
    width: 100%;
    height: fit-content;
}

.box .comment{
    border: 1px solid var(--acc-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;
    list-style: none;
}

.box .comment .user{
    display: flex;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    scale: .8;
}

.box .comment .comment-date{
    opacity: 0.6;
}

.box .comment .content{
    margin-left: 50px;
    margin-top: -20px;
    text-align: left;
}

.box .comment .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box .comment .buttons button{
    width: 50px;
    height: 30px;
    background: transparent;
    color: var(--acc-color);
    border: .5px solid var(--acc-color);
    border-radius: 6px;
    cursor: pointer;
}

.box .comment .buttons .reactions{
    display: flex;
    gap: 20px;
}

.box .comment .buttons .actions{
    display: flex;
    gap: 20px;
}

.box .comment .buttons .reactions .like, 
.comments .comment .buttons .reactions .dislike{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.children-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.child-comment{
    width: 90%;
}

.edit-box {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.edit-box textarea{
    width: 80%;
    height: 150px;
    outline: none;
    background: var(--acc-color);
    color: var(--background-color);
    font: inherit;
    border-radius: 6px;
}

.editing-box button{
    width: 100px;
    height: 50px;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--acc-color);
    border-radius: 6px;
}

/* Comments */

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
